body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Color de fondo */
}

.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.boton {
  padding:20px;

  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);     

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;

  color:rgb(255, 255, 255);
  font:bold 12px/10px Arial;
  width:110px;
  cursor:pointer;
  cursor:hand;
  text-align:center;
}
.boton:hover {
background: #2079b0;
background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
text-decoration: none;
}

#boton1 {
  position:absolute;
  left: 46%;
  top: 85%;
  
}
