body {
    font-family: Arial, sans-serif;
}

#chat-container {
    max-width: 100%;
    margin: 0px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#chat-box {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
    background-color: #f4f4f4;
}

#user-input {
    width: 82%;
    padding: 8px;
    height: 100%;
    position: relative;
}

button {
    width: 16%;
    padding: 8px;
}
